* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


body {
    background-image: url(https://cdn.pixabay.com/photo/2025/10/31/17/37/winter-9929460_1280.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


}

form {
    width: 90%;
    height: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 20px;


    .left {
        width: 115%;
        background-color: rgb(6, 160, 155);
        border-radius: 20px;


        i {
            font-size: 3rem;
            margin-left: 20px;
            margin-top: 20px;
            color: white;
        }

        p {
            font-size: 3rem;
            text-align: center;
            color: white;
            margin-top: 20px;
            margin-right: 60px;
        }


    }

    .right {
        position: relative;
        background-color: white;
        border-radius: 20px;
        color: black;

        img {

            position: absolute;
            width: 600px;
            height: 450px;
            left: -450px;

            top: 150px;


        }

        p {
            margin-top: 30px;
            text-align: center;
        }

        select {
            margin-top: 20px;
            margin-left: 760px;
            border: none;
            padding-right: 5px;

        }

        .box {
            padding: 20px 150px 0px 150px;



            .nhap {
                margin-top: 5px;
                margin-bottom: 15px;
                position: relative;

                input {
                    margin-top: 15px;
                    width: 100%;
                    padding: 10px;
                    border-radius: 10px;
                    border: 1px solid rgb(247, 247, 247);
                }

                .eye {
                    position: absolute;
                    top: 130px;
                    left: 565px;
                    color: gray;
                }

                .eyes {
                    position: absolute;
                    top: 183px;
                    left: 565px;
                    color: gray;
                }

            }

            .tick {
                margin-top: 15px;
                margin-bottom: 15px;
                display: flex;
                gap: 8px;
                align-items: center;
                margin-left: 50px;
                /* font-size: 1.5rem; */
                color: rgb(162, 162, 162);
            }

            button {
                margin-top: 5px;
                margin-bottom: 10px;
                width: 100%;
                padding: 10px;
                background-color: rgb(7, 203, 138);
                color: white;
                font-size: 1rem;
            }

            p {
                text-align: center;
                margin: 0px 0px 0px 0px;
            }

            .mxh {
                display: flex;
                /* align-items: center; */
                justify-content: center;
                gap: 215px;

                .gg,
                .fb {
          

                    button {
                        display: flex;
                        width: 100%;
                        border: none;
                        align-items: center;
                        background-color: white;
                        color: black;
                        justify-content: space-around;



                    }

                }
            }

        }


    }


}